.contact-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* For contact forms */
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-field-container{
    display: flex;
    gap: 1rem;
}
.info-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
