@font-face {
    font-family: 'PP Right Grotesk';
    src: url('../../storage/app/public/fonts/right-grotesk/PPRightGrotesk-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Right Grotesk';
    src: url('../../storage/app/public/fonts/right-grotesk/PPRightGrotesk-Light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Right Grotesk';
    src: url('../../storage/app/public/fonts/right-grotesk/PPRightGrotesk-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
