.hero{
    max-width: 100%;
    height: 66vh;
    padding: 2.5rem;
    background: linear-gradient(#000000aa, #000000aa), url("/public/images/hero_bg.avif");
    background-size: cover;
    background-position-y: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-spacer{
    flex-grow: 2;
}
.vehicle-search{
    padding: 1.5rem;
    width: 20rem;
    margin: auto auto 2rem auto;
    background-color: #ffffff11;
    border: 4px solid #ffffff;
    border-radius: 20rem;
    font-weight: 200;
}
main{
    text-align: center;
    padding: 1rem;
}
.home-brand-logos{
    height: 15rem;
    width: 15rem;
}
