.service-container, .service-container-alt, .service-container-blk{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30vw;
    height: 45vh;
    padding: 3rem 10rem;
}
.service-container{
    text-align: left;
}
.service-container-alt{
    background-color: #494848;
    text-align: end;
}
.service-container-blk{
    background-color: #000000;
    text-align: end;
}
.service-description{
    width: 50vw;
}
